In [36]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
import re
import pandas as pd

In [37]:
data = pd.read_csv("tripadvisor_hotel_reviews.csv")

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  109 non-null    object
 1   Rating  109 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [39]:
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [40]:
data["Review"][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '

In [41]:
data["review_lowercase"] = data["Review"].str.lower()

In [42]:
data.head()

,Review,Rating,review_lowercase
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso..."

In [43]:
en_stopwords = set(stopwords.words("english"))
en_stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [44]:
en_stopwords.remove("not")

In [45]:
data["review_no_stopwords"] = data["review_lowercase"].apply(
    lambda x: " ".join([word for word in x.split() if word not in en_stopwords])
)

In [47]:
data.head(50)

,Review,Rating,review_lowercase,review_no_stopwords
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso..."
5,love monaco staff husband stayed hotel crazy w...,5,love monaco staff husband stayed hotel crazy w...,love monaco staff husband stayed hotel crazy w...
6,"cozy stay rainy city, husband spent 7 nights m...",5,"cozy stay rainy city, husband spent 7 nights m...","cozy stay rainy city, husband spent 7 nights m..."
7,"excellent staff, housekeeping quality hotel ch...",4,"excellent staff, housekeeping quality hotel ch...","excellent staff, housekeeping quality hotel ch..."
8,"hotel stayed hotel monaco cruise, rooms genero...",5,"hotel stayed hotel monaco cruise, rooms genero...","hotel stayed hotel monaco cruise, rooms genero..."
9,excellent stayed hotel monaco past w/e delight...,5,excellent stayed hotel monaco past w/e delight...,excellent stayed hotel monaco past w/e delight...
10,"poor value stayed monaco seattle july, nice ho...",2,"poor value stayed monaco seattle july, nice ho...","poor value stayed monaco seattle july, nice ho..."
11,nice value seattle stayed 4 nights late 2007. ...,4,nice value seattle stayed 4 nights late 2007. ...,nice value seattle stayed 4 nights late 2007. ...
12,nice hotel good location hotel kimpton design ...,4,nice hotel good location hotel kimpton design ...,nice hotel good location hotel kimpton design ...
13,nice hotel not nice staff hotel lovely staff q...,3,nice hotel not nice staff hotel lovely staff q...,nice hotel not nice staff hotel lovely staff q...
14,"great hotel night quick business trip, loved l...",4,"great hotel night quick business trip, loved l...","great hotel night quick business trip, loved l..."
15,horrible customer service hotel stay february ...,1,horrible customer service hotel stay february ...,horrible customer service hotel stay february ...
16,disappointed say anticipating stay hotel monac...,2,disappointed say anticipating stay hotel monac...,disappointed say anticipating stay hotel monac...
17,fantastic stay monaco seattle hotel monaco hol...,5,fantastic stay monaco seattle hotel monaco hol...,fantastic stay monaco seattle hotel monaco hol...
18,"good choice hotel recommended sister, great lo...",5,"good choice hotel recommended sister, great lo...","good choice hotel recommended sister, great lo..."
19,hmmmmm say really high hopes hotel monaco chos...,3,hmmmmm say really high hopes hotel monaco chos...,hmmmmm say really high hopes hotel monaco chos...
20,service service service spent week g-friend la...,5,service service service spent week g-friend la...,service service service spent week g-friend la...
21,"excellent stay, delightful surprise stay monac...",5,"excellent stay, delightful surprise stay monac...","excellent stay, delightful surprise stay monac..."
22,good value downtown hotel monaco seattle great...,4,good value downtown hotel monaco seattle great...,good value downtown hotel monaco seattle great...
23,hotel monaco great location service hotel mona...,5,hotel monaco great location service hotel mona...,hotel monaco great location service hotel mona...
24,great location need internally upgrade advanta...,2,great location need internally upgrade advanta...,great location need internally upgrade advanta...
25,"n't mind noise place great, read reviews noise...",3,"n't mind noise place great, read reviews noise...","n't mind noise place great, read reviews noise..."
26,"loved, stayed warwick overnight getway enjoy c...",4,"loved, stayed warwick overnight getway enjoy c...","loved, stayed warwick overnight getway enjoy c..."
27,met expectations centrally located hotel block...,3,met expectations centrally located hotel block...,met expectations centrally located hotel block...
28,nice hotel husband stayed warwick 4 years ago ...,4,nice hotel husband stayed warwick 4 years ago ...,nice hotel husband stayed warwick 4 years ago ...
29,"good hotel not large hotel newly decorated, ro...",4,"good hotel not large hotel newly decorated, ro...","good hotel not large hotel newly decorated, ro..."
30,good choice seattle stayed night business book...,4,good choice seattle stayed night business book...,good choice seattle stayed night business book...
31,great location expensive parking warwick heart...,4,great location expensive parking warwick heart...,great location expensive parking warwick heart...
32,"noise airconditioner-a standard, arranged stay...",1,"noise airconditioner-a standard, arranged stay...","noise airconditioner-a standard, arranged stay..."
33,good location poor cleanliness warwick hotel g...,2,good location poor cleanliness warwick hotel g...,good location poor cleanliness warwick hotel g...
34,good place spending big bucks warwick plenty c...,4,good place spending big bucks warwick plenty c...,good place spending big bucks warwick plenty c...
35,"nice hotel trip seattle wanted stay downtown, ...",4,"nice hotel trip seattle wanted stay downtown, ...","nice hotel trip seattle wanted stay downtown, ..."
36,great value seattle spouse stayed warwick seat...,4,great value seattle spouse stayed warwick seat...,great value seattle spouse stayed warwick seat...
37,"gem hotel absolute gem, small great service, r...",5,"gem hotel absolute gem, small great service, r...","gem hotel absolute gem, small great service, r..."
38,"pretty good value visit seattle frequently, 1 ...",4,"pretty good value visit seattle frequently, 1 ...","pretty good value visit seattle frequently, 1 ..."
39,average nice stay hotel amazing location great...,4,average nice stay hotel amazing location great...,average nice stay hotel amazing location great...
40,"bad choice, booked hotel hot wire called immed...",1,"bad choice, booked hotel hot wire called immed...","bad choice, booked hotel hot wire called immed..."
41,good value hotel stayed warwick times past yea...,4,good value hotel stayed warwick times past yea...,good value hotel stayed warwick times past yea...
42,warwick bad good reviews warwick shocks staff ...,2,warwick bad good reviews warwick shocks staff ...,warwick bad good reviews warwick shocks staff ...
43,great service warwick just recently spent 4 da...,4,great service warwick just recently spent 4 da...,great service warwick recently spent 4 days ch...
44,"austin powers decor familiar, hotel seattlewhe...",2,"austin powers decor familiar, hotel seattlewhe...","austin powers decor familiar, hotel seattlewhe..."
45,great location n't stay long needed place stay...,2,great location n't stay long needed place stay...,great location n't stay long needed place stay...
46,"pay read reviews booked knew getting, mind n't...",3,"pay read reviews booked knew getting, mind n't...","pay read reviews booked knew getting, mind n't..."
47,"not bad location unmatchable price range, simp...",3,"not bad location unmatchable price range, simp...","not bad location unmatchable price range, simp..."
48,remarkable hotel needed days booked inn based ...,5,remarkable hotel needed days booked inn based ...,remarkable hotel needed days booked inn based ...
49,great location friendly staff stayed hotel eas...,5,great location friendly staff stayed hotel eas...,great location friendly staff stayed hotel eas...

In [ ]:
data["review_no_stopwords"][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe noisy neighbors, aveda bath products nice, not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience pay 40 parking night,'

In [50]:
data["review_no_stopwords_no_punct"] = data.apply(
    lambda x: re.sub(r"[*]", "start", x["review_no_stopwords"]), axis=1
)

In [51]:
data.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4start experience hotel monaco ...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso..."

In [ ]:
data["review_no_stopwords_no_punct"] = data["review_no_stopwords"].apply(
    lambda x: re.sub(r"[^\w\s]", "", x)
)

In [53]:
data.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4 experience hotel monaco seatt...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game awesom...

In [ ]:
data["tokenized"] = data["review_no_stopwords_no_punct"].apply(
    lambda x: word_tokenize(x)
)

In [55]:
data.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct,tokenized
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d..."
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member..."
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4 experience hotel monaco seatt...,"[nice, rooms, not, 4, experience, hotel, monac..."
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monaco ...,"[unique, great, stay, wonderful, time, hotel, ..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game awesom...,"[great, stay, great, stay, went, seahawk, game..."

In [ ]:
data["tokenized"][0]

['nice',
 'hotel',
 'expensive',
 'parking',
 'got',
 'good',
 'deal',
 'stay',
 'hotel',
 'anniversary',
 'arrived',
 'late',
 'evening',
 'took',
 'advice',
 'previous',
 'reviews',
 'valet',
 'parking',
 'check',
 'quick',
 'easy',
 'little',
 'disappointed',
 'nonexistent',
 'view',
 'room',
 'room',
 'clean',
 'nice',
 'size',
 'bed',
 'comfortable',
 'woke',
 'stiff',
 'neck',
 'high',
 'pillows',
 'not',
 'soundproof',
 'like',
 'heard',
 'music',
 'room',
 'night',
 'morning',
 'loud',
 'bangs',
 'doors',
 'opening',
 'closing',
 'hear',
 'people',
 'talking',
 'hallway',
 'maybe',
 'noisy',
 'neighbors',
 'aveda',
 'bath',
 'products',
 'nice',
 'not',
 'goldfish',
 'stay',
 'nice',
 'touch',
 'taken',
 'advantage',
 'staying',
 'longer',
 'location',
 'great',
 'walking',
 'distance',
 'shopping',
 'overall',
 'nice',
 'experience',
 'pay',
 '40',
 'parking',
 'night']

In [57]:
ps = PorterStemmer()

In [ ]:
data["stemmed"] = data["tokenized"].apply(lambda x: [ps.stem(word) for word in x])

In [59]:
data.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct,tokenized,stemmed
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expens, park, got, good, deal, s..."
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, noth, special, charg, diamond, member, hi..."
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4 experience hotel monaco seatt...,"[nice, rooms, not, 4, experience, hotel, monac...","[nice, room, not, 4, experi, hotel, monaco, se..."
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monaco ...,"[unique, great, stay, wonderful, time, hotel, ...","[uniqu, great, stay, wonder, time, hotel, mona..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game awesom...,"[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game..."

In [60]:
lematizer = WordNetLemmatizer()

In [61]:
data["lemmatized"] = data["tokenized"].apply(
    lambda x: [lematizer.lemmatize(word) for word in x]
)

In [62]:
data.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct,tokenized,stemmed,lemmatized
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expens, park, got, good, deal, s...","[nice, hotel, expensive, parking, got, good, d..."
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, noth, special, charg, diamond, member, hi...","[ok, nothing, special, charge, diamond, member..."
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4 experience hotel monaco seatt...,"[nice, rooms, not, 4, experience, hotel, monac...","[nice, room, not, 4, experi, hotel, monaco, se...","[nice, room, not, 4, experience, hotel, monaco..."
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monaco ...,"[unique, great, stay, wonderful, time, hotel, ...","[uniqu, great, stay, wonder, time, hotel, mona...","[unique, great, stay, wonderful, time, hotel, ..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game awesom...,"[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game..."

In [ ]:
data["lemmatized"][0]

['nice',
 'hotel',
 'expensive',
 'parking',
 'got',
 'good',
 'deal',
 'stay',
 'hotel',
 'anniversary',
 'arrived',
 'late',
 'evening',
 'took',
 'advice',
 'previous',
 'review',
 'valet',
 'parking',
 'check',
 'quick',
 'easy',
 'little',
 'disappointed',
 'nonexistent',
 'view',
 'room',
 'room',
 'clean',
 'nice',
 'size',
 'bed',
 'comfortable',
 'woke',
 'stiff',
 'neck',
 'high',
 'pillow',
 'not',
 'soundproof',
 'like',
 'heard',
 'music',
 'room',
 'night',
 'morning',
 'loud',
 'bang',
 'door',
 'opening',
 'closing',
 'hear',
 'people',
 'talking',
 'hallway',
 'maybe',
 'noisy',
 'neighbor',
 'aveda',
 'bath',
 'product',
 'nice',
 'not',
 'goldfish',
 'stay',
 'nice',
 'touch',
 'taken',
 'advantage',
 'staying',
 'longer',
 'location',
 'great',
 'walking',
 'distance',
 'shopping',
 'overall',
 'nice',
 'experience',
 'pay',
 '40',
 'parking',
 'night']

In [64]:
tokens_clean = sum(data["lemmatized"], [])

In [ ]:
unigrams = pd.Series(nltk.ngrams(tokens_clean, 1)).value_counts()
print(unigrams)

(hotel,)        292
(room,)         275
(great,)        126
(not,)          122
(stay,)          95
               ...
(absolute,)       1
(mayflower,)      1
(30the,)          1
(scarce,)         1
(connected,)      1
Name: count, Length: 2588, dtype: int64

In [68]:
bigrams = pd.Series(nltk.ngrams(tokens_clean, 2)).value_counts()
print(bigrams)

(great, location)     24
(space, needle)       21
(hotel, monaco)       16
(great, view)         12
(staff, friendly)     12
                      ..
(like, guest)          1
(didnt, make)          1
(personnel, didnt)     1
(minute, stay)         1
(food, raffle)         1
Name: count, Length: 8262, dtype: int64